extends base/_layout
block vars
    - var pageName = 'index'
block head
    title Главная страница
block page

    -
        var cars = [
            {
                name: 'Lada (ВАЗ)',
                sup: '70'
            },
            {
                name: 'Audi',
                sup: '54'
            },
            {
                name: 'Changan',
                sup: '35'
            },
            {
                name: 'BMW',
                sup: '20'
            },
            {
                name: 'Daewoo',
                sup: '15'
            },
            {
                name: 'EXEED',
                sup: '5'
            },
            {
                name: 'Ford',
                sup: '25'
            },
            {
                name: 'Geely',
                sup: '45'
            },
            {
                name: 'Haval',
                sup: '25'
            },
            {
                name: 'Honda',
                sup: '15'
            },
            {
                name: 'Hongqi',
                sup: '54'
            },
            {
                name: 'Land Rover',
                sup: '70'
            },
            {
                name: 'Lexus',
                sup: '72'
            },
            {
                name: 'Mazda',
                sup: '15'
            },
            {
                name: 'Mercedes-Benz',
                sup: '5'
            },
            {
                name: 'Mitsubishi',
                sup: '12'
            },
            {
                name: 'Volkswagen',
                sup: '12'
            },
            {
                name: 'Toyota',
                sup: '54'
            },
            {
                name: 'Skoda',
                sup: '15'
            },
            {
                name: 'Москвич',
                sup: '5'
            },
            {
                name: 'Daewoo',
                sup: '53'
            },
            {
                name: 'EXEED',
                sup: '12'
            },
            {
                name: 'Ford',
                sup: '23'
            },
            {
                name: 'Geely',
                sup: '5'
            }
        ]

    section.main_intro
        .main_intro__container
            h1.main_intro__title.main_fluid__title Авто с&nbsp;пробегом

            p.main_intro__subtitle Которые #[span прошли необходимые] диагностику и подготовку

            .main_intro__wrapper

                -
                    var main_intro_slides = [
                        {
                            src: 'main_intro/main_intro_slide1',
                            isActive: true
                        },
                        {
                            src: 'main_intro/main_intro_slide2',
                            isActive: false
                        },
                        {
                            src: 'main_intro/main_intro_slide3',
                            isActive: false
                        },
                        {
                            src: 'main_intro/main_intro_slide4',
                            isActive: false
                        },
                        {
                            src: 'main_intro/main_intro_slide5',
                            isActive: false
                        }
                    ];

                .main_intro__slider

                    each slide in main_intro_slides

                        if slide.isActive

                            .main_intro__slide.active
                                +picture(slide.src, 'jpg', 'x2')
                                .main_intro__progress

                        else 
                            
                            .main_intro__slide
                                +picture(slide.src, 'jpg', 'x2')
                                .main_intro__progress



    .q_selection
        .container 
            .q_selection__wrapper

                .q_selection__brand.q_selection__select
                    input.q_selection__input(type="text" placeholder="Выберите или введите")
                    span
                    .q_selection__group
                        ul.q_selection__list
                            each item in cars
                                li: input.q_selection__btn(type="button" value= item.name)

                .q_selection__model.q_selection__select
                    input.q_selection__input(type="text" placeholder="Модель")
                    span
                    .q_selection__group
                        ul.q_selection__list
                            each item in cars
                                li: input.q_selection__btn(type="button" value= item.name)

                .q_selection__price
                    input(type="text" placeholder="Цена от" data-maska="#" data-maska-tokens="#:[0-9]:multiple")
                    input(type="text" placeholder="Цена до" data-maska="#" data-maska-tokens="#:[0-9]:multiple")

                a.q_selection__link.btn__arrow.btn__red(href="#") Подобрать





    section.available 
        .container 
            h2.available__title.block__title Автомобили в&nbsp;наличии
            ul.available__list

                each item in cars

                    li.available__item
                        a.available__link(href="#")
                            span= item.name
                            sup= item.sup


    .links 
        .container 
            .links__wrapper 

                article.links__block.l_buy
                    +picture('links/l_buy_bg', 'jpg', 'x2')
                    h3.links__title 
                        span Купить 
                        span автомобиль
                    p.links__subtitle Перейти в каталог
                    a(href="#") 

                article.links__block.l_buyback
                    +picture('links/l_buyback_bg', 'jpg', 'x2')
                    h3.links__title Выкуп автомобиля
                    p.links__subtitle Продать по максимальной цене
                    a(href="#")

                article.links__block.l_exchange
                    +picture('links/l_exchange_bg', 'jpg', 'x2')
                    h3.links__title Обмен
                    p.links__subtitle Сдать автомобиль
                    a(href="#")

                article.links__block.l_credit
                    +picture('links/l_credit_bg', 'jpg', 'x2')
                    h3.links__title Автокредит
                    p.links__subtitle Подать заявку
                    a(href="#")

                article.links__block.l_commission
                    +picture('links/l_commission_bg', 'jpg', 'x2')
                    h3.links__title Комиссия
                    p.links__subtitle Поставить на комиссию
                    a(href="#")


    +offers('green_bg', 'Лучшие', 'предложения')

    +offers('blue_bg', 'Последние', 'поступления')


    section.autocredit
        .container 

            h2.autocredit__title.fluid__title Автокредит

            p.autocredit__subtitle Совсем не обязательно экономить на себе, чтобы мечта стала реальностью уже сегодня. Мы предлагаем автокредиты на выгодных условиях!

        .autocredit__benefits
            .container
                .autocredit__benefits_container
                    .autocredit__benefits_item
                        img.autocredit__benefits_icon(src='/images/credit_1.svg' alt="")
                        p.autocredit__benefits_text Без первоначального взноса
                    .autocredit__benefits_item
                        img.autocredit__benefits_icon(src='/images/credit_2.svg' alt="")
                        p.autocredit__benefits_text Без поручителей и справок 
                    .autocredit__benefits_item
                        img.autocredit__benefits_icon(src='/images/credit_3.svg' alt="")
                        p.autocredit__benefits_text Одобрение в течении 1-го часа


        .autocredit__ticker

            .autocredit__ticker_wrapper
                .autocredit__ticker_block
                    img.autocredit__ticker_item(src='/images/autocredit/icon_bank_1.svg' alt="")
                    img.autocredit__ticker_item(src='/images/autocredit/icon_bank_2.svg' alt="")
                    img.autocredit__ticker_item(src='/images/autocredit/icon_bank_3.svg' alt="")
                    img.autocredit__ticker_item(src='/images/autocredit/icon_bank_4.svg' alt="")
                    img.autocredit__ticker_item(src='/images/autocredit/icon_bank_5.svg' alt="")
                    img.autocredit__ticker_item(src='/images/autocredit/icon_bank_6.svg' alt="")


        .container
            .autocredit__details 
                button.autocredit__approval.btn__high.btn__agree_green(type="button") Получить одобрение
                a.autocredit__more.btn__high.btn__arrow_grey(href="#") Подробнее об условиях



    section.ratings
        .container

            h2.ratings__title Наши рейтинги в&nbsp;интернете

            p.ratings__subtitle Хотите получить больше информации о наших услугах и сервисе? Изучите мнение о нас на независимых авторитетных интернет-ресурсах

        .ratings__wrapper
            .container.ratings__list

                .ratings__item
                    .ratings__icon 
                        img(src="/images/avito.svg", alt="Авито")

                    span.ratings__value 4.7

                .ratings__item
                    .ratings__icon 
                        img(src="/images/yandex.svg", alt="Яндекс")

                    span.ratings__value 4.2

                .ratings__item
                    .ratings__icon 
                        img(src="/images/2gis.svg", alt="2gis")

                    span.ratings__value 4.2


    section.reviews
        .container 
            h2.reviews__title.fluid__title Отзывы
            p.reviews__subtitle Наши клиенты расскажут  #[span почему выбрали нас] и наши автомобили

            .reviews__wrapper

                include ./blocks/reviews_item
                include ./blocks/reviews_item
                include ./blocks/reviews_item
                include ./blocks/reviews_item
                include ./blocks/reviews_item
                include ./blocks/reviews_item

            a.reviews__all.btn__high.btn__arrow_grey(href="#") Все отзывы



    section.contacts
        .container 
            h2.contacts__title.fluid__title Контакты
            p.contacts__subtitle Возникли вопросы? Приезжайте к нам в салон и #[span задайте их лично]
            
            
            .contacts__wrapper

                .contacts__item 
                    .contacts__name Местоположение
                    .contacts__data ул. Ростовское шоссе, 20 корпус 1

                .contacts__item 
                    .contacts__name Горячая линия
                    a.contacts__data(href="tel:89284091449") 8 (928) 409-14-49

                .contacts__item 
                    .contacts__name График работы
                    .contacts__data 09:00–19:00

        .contacts__map#contacts-map



    section.need_help
        .container 
            h2.need_help__title Затрудняетесь с выбором?
            p.need_help__subtitle Оставьте свои данные в форме - мы перезвоним вам, поможем определиться с выбором и  #[span предложим отличные условия покупки!]

            form.need_help__form(action="#")
                input.need_help__name(type="text" placeholder="Ваше имя")
                input.need_help__phone.input-required(type="text" placeholder="Ваш телефон*")
                textarea.need_help__wishes(rows="1" placeholder="Ваши пожелания")
                button.need_help__submit.btn__arrow.btn__red(type="submit") Получить консультацию















