footer.footer
    .container
        .footer__wrapper 
            .footer__logo.header__logo
                img(src="./images/logo.svg", alt="Логотип Вариант Авто" width="216" height="28")

            .footer__links 

                .footer__links_group.group_auto
                    p.footer__name Автосалон
                    a.footer__item(href="#") О компании
                    a.footer__item(href="#") Отзывы
                    a.footer__item(href="#") Контакты


                .footer__links_group.group_contacts_us
                    p.footer__name Связаться с нами
                    a.footer__item(href="tel:89284091449") 8 (928) 409-14-49
                    p.footer__item ул. Ростовское шоссе, 20 корпус 1
                    p.footer__item 09:00–19:00


                .footer__links_group.group_serv
                    p.footer__name Услуги
                    a.footer__item(href="#") Срочный выкуп авто
                    a.footer__item(href="#") Trade In
                    a.footer__item(href="#") Автокредит
                    a.footer__item(href="#") Прием авто на комиссию


            .footer__policy
                a.footer__policy_link(href="#") Политика конфиденциальности

                p.footer__policy_info © Автосалон «Вариант Авто», 2017-2023. 

                p.footer__policy_info Все права защищены. Перепечатка и любое использование материалов возможно только при наличии ссылки на первоисточник.

        .footer__created_by 
            img(src="/images/art6_logo.svg", alt="Логотип компании Art6" width="186" height="24")
