section.advantages
    .container.advantages__container
        h2.advantages__title.block__title Преимущества нового авто в&nbsp;кредит

        .advantages__descr

            h3 Минимальная ставка

            p Получить автокредит может практически любой совершеннолетний человек, доходов которого достаточно для погашения ежемесячных платежей. Процедура автокредитования позволяет стать владельцем машины в короткий срок, причем такая покупка может быть совершена при минимальных собственных накоплениях. Главное условие — получение текущих доходов в достаточном размере для погашения ежемесячных платежей.

            h3 Минимальная ставка

            p Если вы решаете купить в кредит новую машину (Краснодар, Ставрополь, Сочи, Новороссийск, Ростов-на-Дону, Кавказские Минеральные Воды, Горячий Ключ), то банком будет назначен достаточно большой период выплат. Обычно автокредиты выдаются на срок от 1 года до 5 и более лет, поэтому в большинстве случаев величина ежемесячных платежей оказывается совсем небольшой.

            h3 Минимальная ставка

            p Сегодня по статистике каждый третий автомобиль приобретается в кредит, и эти показатели только увеличиваются. Банки, специализирующиеся на автокредитовании, продолжают предлагать выгодные ставки и оптимальные сроки выдачи займа при небольшом размере первоначального взноса. Оформление кредита не отнимает лишнего времени, так как оно производится прямо в момент вашего визита в автосалон.
        