svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M3.33516 9.16706V10.8337H13.3352L8.75182 15.4171L9.93516 16.6004L16.5352 10.0004L9.93516 3.40039L8.75182 4.58372L13.3352 9.16706H3.33516Z" fill="#1A1A1A")
