<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.99969 22.0002V26.0002H31.9997L20.9997 37.0002L23.8397 39.8402L39.6797 24.0002L23.8397 8.16016L20.9997 11.0002L31.9997 22.0002H7.99969Z" fill="#1A1A1A" />
</svg>
