<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M40.0003 22.0002V26.0002H16.0003L27.0003 37.0002L24.1603 39.8402L8.32031 24.0002L24.1603 8.16016L27.0003 11.0002L16.0003 22.0002H40.0003Z" fill="#1A1A1A" />
</svg>
