.modal.msg__modal 
    .modal__inner.msg__inner

        .modal__top.msg__top

            p.modal__heading.msg__heading Спасибо за вашу заявку

            button.modal__close.msg__close(type="button" aria-label="Закрыть модальное окно")

        p.modal__text.msg__text В ближайшее время с вами свяжется менеджер автосалона и ответит на интересующие вопросы
