ul.quick_filters

    li.quick_filters__item
        label
            input(type="checkbox")
            span.bg_sunset_orange Вместительный

    li.quick_filters__item
        label
            input(type="checkbox")
            span.bg_tiffany_blue Проходимый

    li.quick_filters__item
        label
            input(type="checkbox")
            span.bg_bleu_de_france Экономичный

    li.quick_filters__item
        label
            input(type="checkbox")
            span.bg_purple Быстрый
