article.reviews__item 
    .reviews__preview.video_preview__full(data-video="https://youtu.be/xWTWEGyZM2g")
        .video_preview__blur
        +pictureSizeWithLazy('reviews/reviews_img', 'jpg', 'x2', 464, 300)

    .review__descr
        h3.reviews__car: span Ford Mondeo V, 2010
        p.reviews__name Кирилл

        p.reviews__text Покупала, потому что очень понравился внешний вид. Хотя француза не рассматривала к покупке, но ожидания превзошли, супер машина. Никаких поломок
