.available {
  margin-bottom: 219px;

  @include lg {
    margin-bottom: 160px;
  }

  @include xs {
    margin-bottom: 115px;
  }
}

.available__title {
  margin-bottom: 65px;
}

.available__list {
  column-count: auto;
  column-width: 170px;
  column-gap: 83px;

  @include xs {
    column-count: 2;
    column-width: auto;
    column-gap: 30px;
  }
}

.available__item {
  padding-bottom: 23px;
}

.available__link {
  font-weight: 300;
  font-size: 20px;
  color: $color_dark;
  transition: color 0.2s ease-out;

  sup {
    left: 4px;
    font-weight: 300;
    font-size: 16px;
    line-height: 200%;
    color: $color_grey_7c;
  }

  @include xs {
    font-size: 18px;

    sup {
      font-size: 14px;
      line-height: 229%;
    }
  }

  @include r(360px) {
    font-size: 14px;

    sup {
      font-size: 12px;
    }
  }

  @media (hover: hover) {
    &:hover {
      color: $color_red_deep;
    }
  }
}
