.catalog-page.sort-list-open {
  // .catalog {
  //   position: relative;
  //   // z-index: 5;
  // }

  .options__overlay {
    // z-index: 5;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }

  .options__sortList {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}

.catalog__title {
  margin-top: 17px;
  margin-bottom: 40px;

  @include lg {
    margin-bottom: 21px;
  }
}

.catalog__container {
  // display: flex;
  display: grid;
  grid-template-columns: 342px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "options additional"
    "options wrapper";
  align-items: flex-start;
  gap: 0 24px;
  margin-bottom: 250px;

  @include lg {
    display: block;
    margin-bottom: 160px;
  }

  @include xs {
    margin-bottom: 100px;
  }
}

.catalog__additional {
  grid-area: additional;
}

.catalog__options {
  grid-area: options;
}

.catalog__wrapper {
  grid-area: wrapper;
}

.catalog__options {
  flex: 0 0 342px;
  max-width: 342px;

  @include lg {
    max-width: unset;
  }
}

.catalog__wrapper {
  flex: 1 1 auto;
}

.catalog__banner {
  margin-bottom: 30px;

  picture,
  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @include xs {
    margin: 0 -20px 20px;
  }
}

.catalog__search {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background-color: $color_grey_f2;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 3C11.2239 3 12.8772 3.68482 14.0962 4.90381C15.3152 6.12279 16 7.77609 16 9.5C16 11.11 15.41 12.59 14.44 13.73L14.71 14H15.5L20.5 19L19 20.5L14 15.5V14.71L13.73 14.44C12.59 15.41 11.11 16 9.5 16C7.77609 16 6.12279 15.3152 4.90381 14.0962C3.68482 12.8772 3 11.2239 3 9.5C3 7.77609 3.68482 6.12279 4.90381 4.90381C6.12279 3.68482 7.77609 3 9.5 3ZM9.5 5C7 5 5 7 5 9.5C5 12 7 14 9.5 14C12 14 14 12 14 9.5C14 7 12 5 9.5 5Z' fill='%231A1A1A' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
  }

  @include xs {
    margin-bottom: 12px;

    &::before {
      left: 20px;
    }
  }
}

.catalog__search_field {
  flex: 1 1 auto;
  min-height: 66px;
  display: block;
  padding: 5px 10px 5px 63px;
  font-weight: 400;
  font-size: 16px;
  color: $color_dark;

  &::placeholder {
    color: $color_dark;
  }
}

.catalog__search_submit {
  position: relative;
  flex: 0 0 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 66px;
  padding: 0;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.99984 11.0001V13.0001H15.9998L10.4998 18.5001L11.9198 19.9201L19.8398 12.0001L11.9198 4.08008L10.4998 5.50008L15.9998 11.0001H3.99984Z' fill='%231A1A1A' /%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    pointer-events: none;
    transition: transform 0.2s ease-out;
  }

  @media (hover: hover) {
    &:hover {
      &::after {
        transform: translateX(5px);
      }
    }
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(342px, 1fr));
  gap: 35px 23px;
  margin-bottom: 72px;

  @include xs {
    margin-bottom: 35px;
  }

  @include xxs {
    display: block;
  }
}
