.catalog-item-page.added-to-favorites {
  .ci__to_favorites {
    background-image: url("/images/heart-red.svg");
  }
}

.ci {
  margin-bottom: 240px;

  @include lg {
    margin-bottom: 160px;
  }

  @include xs {
    display: grid;
    margin-bottom: 120px;

    .ci__first_container {
      order: 1;
    }

    .ci__actions {
      order: 3;
    }

    .ci__sliders {
      order: 2;
    }

    .ci__info {
      order: 4;
    }

    // .characteristics {
    //   order: 4;
    // }

    // .configuration {
    //   order: 5;
    // }

    // .description {
    //   order: 6;
    // }
  }

  .card__price {
    display: inline-block;
    margin-right: 23px;
    font-weight: 500;
    font-size: 54px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $color_red_deep;

    @include sm {
      font-size: 42px;
    }

    @include xs {
      font-size: 28px;
    }
  }

  .card__credit {
    display: inline-flex;
  }

  .card__cost {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: $color_grey_7c;

    @include sm {
      font-size: 16px;
    }
  }
}

.ci__title {
  margin-top: 17px;
  margin-bottom: 20px;

  @include lg {
    margin-bottom: 21px;
  }
}

.ci__top {
  margin-bottom: 17px;

  @include xs {
    margin-bottom: 16px;
  }
}

.ci__actions_container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 54px;

  @include r(1080px) {
    max-width: 713px;

    .ci__book {
      order: 1;
      flex: 1 1 auto;
      padding-left: 5px;
      padding-right: 5px;
    }

    .ci__show_online {
      order: 3;
      flex: 1 1 100%;
      padding-left: 5px;
      padding-right: 5px;
    }

    .ci__to_favorites {
      order: 2;
      flex: 0 0 60px;
    }

    .ci__financial {
      order: 4;
      flex: 1 1 100%;
    }

    .ci__credit {
      flex: 1 1 62%;
      padding-left: 5px;
      padding-right: 5px;
    }

    .ci__trade {
      flex: 1 1 48%;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.ci__btn {
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}

.ci__book {
  padding: 10px 44px;
  color: $color_white;
  background-color: $color_green;

  @media (hover: hover) {
    &:hover {
      background-color: $color_green_hover;
    }
  }
}

.ci__show_online {
  padding: 10px 44px;

  color: $color_white;
  background-color: $color_red_deep;

  @media (hover: hover) {
    &:hover {
      background-color: $color_red_hover;
    }
  }
}

.ci__to_favorites {
  width: 60px;
  background: $color_grey_f2 url("../images/heart.svg") center / 24px 24px
    no-repeat;

  @media (hover: hover) {
    &:hover {
      background-color: #dadada;
    }
  }
}

.ci__financial {
  display: flex;
}

.ci__credit,
.ci__trade {
  padding: 10px 44px;

  background: $color_grey_f2;

  @media (hover: hover) {
    &:hover {
      background-color: #dadada;
    }
  }
}

.ci__credit {
  border-right: 1px solid $color_grey_d8;
}

// full slider

.ci__sliders {
  overflow: hidden;
}

.ci__slider_full {
  width: 100%;
  max-width: 952px;
  margin-left: 0;
  overflow: visible;

  @include sm {
    overflow: hidden;
    overflow: clip;
  }
}

.ci__slider_full_slide {
  @include elementSaveRatio(74.9%, cover);
}

// preview slider

.ci__slider_preview {
  max-width: 952px;
  margin-bottom: 79px;
  overflow-x: auto;

  @include hidescrollbar();

  @include xs {
    margin-bottom: 24px;
  }
}

.ci__slider_preview_list {
  display: flex;
  background-color: $color_white;

  @include xs {
    flex-wrap: wrap;
  }
}

.ci__slider_preview_slide {
  flex: 0 0 120px;
  width: 120px;
  @include elementSaveRatio(75%, cover);

  opacity: 0.5;
  transition: opacity 0.2s ease-out;
  cursor: pointer;

  &.active {
    position: relative;
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      display: block;
      width: 100%;
      height: 100%;
      border: 2px solid $color_red_deep;
      pointer-events: none;
    }
  }

  @include xs {
    flex: 0 0 20%;
    width: 20%;
  }

  @include xxs {
    flex: 0 0 25%;
    width: 25%;
  }

  @media (hover: hover) {
    &:hover {
      opacity: 1;
      display: flex;
      justify-content: space-between;
      gap: 0 24px;
    }
  }
}

.ci__info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0 24px;
}

.ci__info_wrapper {
  max-width: 952px;
  flex: 1 1 952px;
}

.ci__miniature {
  position: sticky;
  top: 20px;
  flex: 1 1 464px;
  max-width: 464px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.5s linear, visibility 0.5s linear;

  &.show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  @include r(1199px) {
    display: none;
  }
}

.ci__block_title {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 24px;
}

// rolled up blocks

.ci__rolled_up {
  @include xs {
    max-height: 340px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}

.ci__toggle_rolled_up {
  display: none;

  &.hidden {
    display: none;
  }

  @include xs {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 5px 20px;
    font-weight: 400;
    font-size: 16px;
    background-color: $color_grey_f2;
    transition: color 0.2s ease-out;

    @media (hover: hover) {
      &:hover {
        color: $color_red_deep;
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 0;
      z-index: 2;
      display: block;
      width: 100%;
      height: 90px;
      pointer-events: none;
      background: linear-gradient(
        180deg,
        rgba(242, 242, 242, 0) 0%,
        rgba(242, 242, 242, 1) 100%
      );
      transition: opacity 0.2s ease-out;
    }

    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      pointer-events: none;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10L12 15L17 10H7Z' fill='%231A1A1A' /%3E%3C/svg%3E");
      background-repeat: no-repeat no-repeat;
      background-position: center center;
      background-size: cover;
      transition: transform 0.2s ease-out;
    }
  }
}

.ci__rolled_container.full-size {
  .ci__rolled_up {
    max-height: unset;
  }

  .ci__toggle_rolled_up {
    &::before {
      opacity: 0;
    }

    &::after {
      transform: scaleY(-1);
    }
  }
}
