.how {
  margin-bottom: 240px;

  @include lg {
    margin-bottom: 160px;
  }

  @include xs {
    margin-bottom: 115px;
  }
}

.how__title {
  margin-bottom: 42px;

  @include xs {
    margin-bottom: 31px;
  }
}

.how__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

  @include lg {
    grid-template-columns: repeat(2, 1fr);
  }

  @include xs {
    display: block;
  }
}

.how__item {
  display: flex;
  flex-direction: column;

  // @include lg {
  //   width: 48%;
  // }

  @include xs {
    width: 100%;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  &:nth-child(1) {
    .how__icon {
      background-image: url("../images/icon_serv_letter.svg");
    }
  }

  &:nth-child(2) {
    .how__icon {
      background-image: url("../images/icon_serv_eye.svg");
    }
  }

  &:nth-child(3) {
    .how__icon {
      background-image: url("../images/icon_serv_check.svg");
    }
  }

  &:nth-child(4) {
    .how__icon {
      background-image: url("../images/icon_serv_dollar.svg");
    }
  }

  &:hover {
    .how__decr {
      border-color: $color_red_deep;
      border-bottom-color: transparent;
    }

    .how__button {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  @include lg {
    &:hover {
      .how__button {
        min-height: 80px;
        max-height: 80px;
      }
    }
  }
}

.how__decr {
  flex: 1 1 auto;
  padding: 62px 32px 40px 24px;
  border: 1px solid $color_grey_f2;
  transition: border-color 0.2s ease-out;
}

.how__icon {
  width: 44px;
  height: 44px;
  margin-bottom: 34px;
  background: $color_red_deep center / 40px 40px no-repeat;
  transition: background-color 0.2s ease-out;
}

.how__name {
  font-weight: 400;
  font-size: 24px;
  color: $color_red_deep;
  transition: color 0.2s ease-out;
}

.how__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
}

.how__button {
  flex: 0 0 126px;
  width: 100%;
  justify-content: flex-start;
  padding-right: 20px;
  color: $color_white;
  background-color: $color_red_deep;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease-out, visibility 0.2s ease-out;

  @include lg {
    flex: 0 0 80px;
    padding: 0 50px 0 40px;
  }

  @include xs {
    flex: 0 0 80px;
    max-height: 0;
    min-height: 0;
    padding: 0 20px;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: max-height 0.2s ease-out, min-height 0.2s ease-out;
  }
}

// ==== TRADE IN PAGE ====

.trade-in-page {
  .how__item {
    &:nth-child(2) {
      .how__icon {
        background-image: url("../images/icon_serv_search.svg");
      }
    }

    &:nth-child(3) {
      .how__icon {
        background-image: url("../images/icon_serv_percentage.svg");
      }
    }

    &:nth-child(4) {
      .how__icon {
        background-image: url("../images/icon_serv_check.svg");
      }
    }
  }
}
