.how_it_works {
  margin-bottom: 240px;

  @include lg {
    margin-bottom: 160px;
  }

  @include xs {
    margin-bottom: 115px;
  }
}

.how_it_works__title {
  margin-bottom: 42px;

  @include xs {
    margin-bottom: 31px;
  }
}

.how_it_works__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  @include lg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  @include xs {
    display: block;
  }
}

.how_it_works__item {
  display: flex;
  flex-direction: column;

  @include lg {
    width: 48%;
  }

  @include xs {
    width: 100%;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  // &:nth-child(1) {
  //   .how_it_works__icon {
  //     background-image: url("../images/icon_serv_letter.svg");
  //   }
  // }

  // &:nth-child(2) {
  //   .how_it_works__icon {
  //     background-image: url("../images/icon_serv_percentage.svg");
  //   }
  // }

  // &:nth-child(3) {
  //   .how_it_works__icon {
  //     background-image: url("../images/icon_serv_check.svg");
  //   }
  // }
}

.how_it_works__item {
  &:first-child {
    .how_it_works__decr {
      border: 2px solid $color_green;
      border-bottom: none;
    }

    .how_it_works__icon {
      background-color: $color_green;
    }

    .how_it_works__name {
      color: $color_green;
    }
  }

  &:not(:first-child) {
    .how_it_works__decr {
      max-height: calc(100% - 126px);
    }
  }

  @include lg {
    &:nth-child(2) {
      .how_it_works__decr {
        max-height: calc(100% - 80px);
      }
    }

    &:nth-child(n + 3) {
      .how_it_works__decr {
        max-height: unset;
      }
    }
  }

  @include xs {
    &:nth-child(2) {
      .how_it_works__decr {
        max-height: unset;
      }
    }
  }
}

.how_it_works__decr {
  flex: 1 1 auto;
  padding: 62px 32px 40px 24px;
  border: 1px solid $color_grey_f2;
  transition: border-color 0.2s ease-out;
}

.how_it_works__icon {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;
  // background: $color_red_deep center / 40px 40px no-repeat;
  background-color: $color_red_deep;
  transition: background-color 0.2s ease-out;

  img {
    display: block;
    width: 40px;
    height: auto;
  }
}

.how_it_works__name {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
  color: $color_red_deep;
  transition: color 0.2s ease-out;
}

.how_it_works__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
}

.how_it_works__button {
  flex: 0 0 126px;
  width: 100%;
  justify-content: flex-start;
  color: $color_white;
  background-color: $color_green;

  @include lg {
    flex: 0 0 80px;
    padding: 0 50px 0 40px;
  }

  @include xs {
    padding: 0 20px;
  }
}
