.quick_filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 56px;

  @include xs {
    margin-bottom: 20px;
  }
}

.quick_filters__item {
  input {
    @include visuallyhidden();

    &:checked + span {
      background-color: $color_dark;

      &::after {
        display: inline-block;
      }
    }
  }

  span {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 6px 4px 6px 3px;
    color: $color_white;
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
    cursor: pointer;

    &::after {
      content: "";
      display: none;
      width: 12px;
      height: 12px;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8327 1.34199L10.6577 0.166992L5.99935 4.82533L1.34102 0.166992L0.166016 1.34199L4.82435 6.00033L0.166016 10.6587L1.34102 11.8337L5.99935 7.17533L10.6577 11.8337L11.8327 10.6587L7.17435 6.00033L11.8327 1.34199Z' fill='white' /%3E%3C/svg%3E");
      background-repeat: no-repeat no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
}
