.quick_filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 56px;

  @include xs {
    margin-bottom: 20px;
  }
}

.quick_filters__item {
  input {
    @include visuallyhidden();

    &:checked + span {
      background-color: $color_dark;

      &::after {
        display: inline-block;
      }
    }
  }

  span {
    display: flex;
    gap: 2px;
    align-items: center;
    padding: 6px 4px 6px 3px;
    color: $color_white;
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
    cursor: pointer;

    &::after {
      content: "";
      display: none;
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8327 5.34199L14.6577 4.16699L9.99935 8.82533L5.34102 4.16699L4.16602 5.34199L8.82435 10.0003L4.16602 14.6587L5.34102 15.8337L9.99935 11.1753L14.6577 15.8337L15.8327 14.6587L11.1743 10.0003L15.8327 5.34199Z' fill='white' /%3E%3C/svg%3E");
      background-repeat: no-repeat no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
}
