// colors
$color_white: #fff;
$color_black: #000;
$color_red_deep: #b01525;
$color_green: #36b555;
$color_blur: #1c69d4;
$color_grey_f7: #f7f7f7;
$color_grey_f8: #f8f8f8;
$color_grey_f2: #f2f2f2;
$color_grey_45: #454545;
$color_grey_b6: #b6b6b6;

// fonts
$font_text: "Noto Sans", sans-serif;
