.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: $color_dark;
  opacity: 0.2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
  cursor: pointer;

  &.active {
    opacity: 0.2;
    visibility: visible;
  }
}

.visualhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

// map

// reset copyright of yandex map
[class*="copyrights-pane"] {
  display: none !important;
}

// banner

.page__banner {
  position: relative;
  max-width: 3500px;
  min-height: 500px;
  margin: 0 auto 240px;

  @include elementSaveRatio(26%, cover);

  @include lg {
    margin-bottom: 160px;
  }

  @include xs {
    min-height: 200px;
    margin-bottom: 115px;
  }
}

// title

.main_fluid__title {
  font-weight: 500;
  font-size: 144px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.04em;
  color: $color_dark_1c;

  @include fluidFontSize(68px, 144px, 992px, 1920px, 80px);

  @include sm {
    font-size: 68px;
  }

  @include xs {
    max-width: 320px;
    font-size: 44px;
    text-align: left;
    letter-spacing: normal;
  }

  @include r(360px) {
    font-size: 38px;
  }
}

.fluid__title {
  font-weight: 500;
  font-size: 121px;
  line-height: 1;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.04em;
  color: $color_dark_1c;

  @include fluidFontSize(58px, 121px, 992px, 1920px, 80px);

  @include sm {
    font-size: 58px;
  }

  @include xs {
    max-width: 320px;
    font-size: 44px;
    text-align: left;
    letter-spacing: normal;
  }

  @include r(360px) {
    font-size: 38px;
  }
}

.page__title {
  margin-top: 72px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 125px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @include xl {
    margin-top: 50px;
    font-size: 100px;
  }

  @include lg {
    margin-top: 30px;
    font-size: 80px;
  }

  @include sm {
    font-size: 58px;
  }

  @include xs {
    max-width: 320px;
    font-size: 44px;
    text-align: left;
    letter-spacing: normal;
  }

  @include r(360px) {
    font-size: 38px;
  }
}

.inner__h1 {
  font-weight: 500;
  font-size: 54px;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  @include sm {
    font-size: 42px;
  }

  @include xs {
    font-size: 28px;
  }
}

.block__title {
  font-weight: 500;
  font-size: 48px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $color_dark;

  @include xs {
    font-size: 28px;
    line-height: 100%;
  }
}

.colored_bg {
  position: relative;
  padding-left: 10px;
  padding-right: 20px;
  margin-right: -15px;
  color: $color_white;

  &::after {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    right: 15px;
    bottom: -3px;
    z-index: -1;
  }

  @include lg {
    &::after {
      top: 3px;
      bottom: 3px;
    }
  }

  @include xs {
    padding: 0;
    margin-right: 0;

    &::after {
      top: 2px;
      left: -2px;
      right: -2px;
      bottom: 2px;
    }
  }
}

.green_bg {
  &::after {
    background-color: $color_green;
  }
}

.blue_bg {
  &::after {
    background-color: $color_blur;
  }
}

// buttons

.fly__btn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 1;
  height: 60px;
  background-color: $color_green;
  transition: background-color 0.2s ease-out;

  @media (hover: hover) {
    &:hover {
      background-color: $color_green_hover;
    }
  }

  @include xs {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: $color_white;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;

    &.show {
      display: flex;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
}

.btn__red {
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 20px;
  color: $color_white;
  background-color: $color_red_deep;
  transition: background-color 0.2s ease-out;

  @media (hover: hover) {
    &:hover {
      background-color: $color_red_hover;
    }
  }
}

.btn__arrow {
  justify-content: space-between;
  gap: 10px;

  &::after {
    content: "";
    flex-shrink: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../images/arrow-right-white.svg") center / contain
      no-repeat;
    transition: transform 0.2s ease-out;
  }

  @media (hover: hover) {
    &:hover {
      &::after {
        transform: translateX(5px);
      }
    }
  }
}

.btn__high {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 40px;
  padding: 44px 80px 44px 40px;
  font-weight: 400;
  font-size: 24px;
  transition: background-color 0.2s ease-out;

  &::before {
    content: "";
    display: inline-block;
    width: 36px;
    height: 36px;
    transition: transform 0.2s ease-out;
  }

  @include lg {
    padding: 44px 50px 44px 40px;
  }

  @include sm {
    width: 100%;
    justify-content: flex-start;
    min-height: 60px;
    padding: 20px 20px;
    font-size: 16px;

    &::before {
      width: 20px;
      height: 20px;
    }
  }

  @include xs {
    gap: 0 20px;
  }
}

.btn__agree_green {
  color: $color_white;
  background-color: $color_green;

  &::before {
    background: url("../images/check.svg") center / contain no-repeat;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $color_green_hover;

      &::before {
        transform: scale(1.2);
      }
    }
  }
}

.btn__arrow_grey {
  color: $color_dark;
  background-color: $color_grey_f2;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;

  &::before {
    background: url("../images/arrow-right-dark.svg") center / contain no-repeat;
  }

  @media (hover: hover) {
    &:hover {
      background-color: #dadada;
      color: $color_grey_f2;
      background-color: $color_dark;

      &::before {
        transform: translateX(5px);
        background-image: url("../images/arrow-right-white.svg");
      }
    }
  }
}

.btn__arrow_green {
  color: $color_white;
  background-color: $color_green;

  &::before {
    background: url("../images/arrow-right-white.svg") center / contain
      no-repeat;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $color_green_hover;

      &::before {
        transform: translateX(5px);
      }
    }
  }
}

.btn__arrow_red {
  color: $color_white;
  background-color: $color_red_deep;

  &::before {
    background: url("../images/arrow-right-white.svg") center / contain
      no-repeat;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $color_red_hover;

      &::before {
        transform: translateX(5px);
      }
    }
  }
}

// slider
.slider__nav {
  min-width: 171px;
  display: flex;
  justify-content: space-between;
  gap: 75px;
}

.slider__prev_btn,
.slider__next_btn {
  flex-shrink: 0;
  display: inline-block;
  width: 48px;
  height: 48px;

  path {
    transition: all 0.2s ease-out;
  }

  @media (hover: hover) {
    &:hover {
      path {
        fill: $color_red_deep;
      }
    }
  }

  &.swiper-button-disabled {
    cursor: default;

    path {
      fill: $color_grey_7c;
    }
  }
}

.block-slider-wrapper {
  @include xs {
    display: block;
  }
}

// background-colors

.bg_sunset_orange {
  background-color: #fe5d5c;
}

.bg_tiffany_blue {
  background-color: #0ec8b2;
}

.bg_bleu_de_france {
  background-color: #2290e4;
}

.bg_purple {
  background-color: #5c62fe;
}

// video preview
.video_preview__full {
  @media (hover: hover) {
    &:hover {
      .video_preview__blur {
        &::before {
          opacity: 0;
        }
      }
    }
  }
}

.video_preview__blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 1;
    transition: opacity 0.2s ease-out;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.666 17.1328V63.7995L63.3327 40.4661L26.666 17.1328Z' fill='white' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.video_preview__full {
  .video_preview__blur::after {
    width: 80px;
    height: 80px;
  }
}

.video_preview__small {
  .video_preview__blur::after {
    width: 32px;
    height: 32px;
  }
}

.reviews__preview.video_preview__full {
  .video_preview__blur::after {
    width: 53px;
    height: 53px;
  }
}

.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border: none;
}

//====================== TICKER

.ticker {
  max-width: 3500px;
  margin: 0 auto;

  @include xs {
    display: none;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.ticker__wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  padding: 72px 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $color_grey_f2;
    opacity: 0.2;
  }
}

.ticker__wrapper:hover .ticker__block {
  animation-play-state: paused;
}

.ticker__block {
  display: inline-flex;
  align-items: center;
  animation: 40s slide infinite linear;

  img {
    padding: 0 40px;
  }
}
